.navHolder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* above other content */
  background-color: var(--Deep-Navy);
  width: 100vw;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: clip;
  -webkit-transition: height 0.5s, opacity 0.5s;
  transition: height 0.5s, opacity 0.5s;
}
.navHolder .logo {
  width: 40%;
}
.navHolder a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 16px;
  height: 125px;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.navHolder .logo,
.navHolder a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Bungee', sans-serif;

}

.bars {
  opacity: 0;
  display: none;
  padding: 23px 15px;
  float: right;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.bars .bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bars.active .bar:nth-child(1) {
  -webkit-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(3) {
  -webkit-transform: translate(0, -11px) rotate(45deg);
          transform: translate(0, -11px) rotate(45deg);
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* background-color: aqua; */
  overflow: hidden;
  -webkit-transition: height 0.5s, opacity 0.5s;
  transition: height 0.5s, opacity 0.5s;
  padding: 0 20px;
}
.items a {
  padding: 0 20px;
  font-size: 20px;
}
.items a.title {
  padding: 0;
  width: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items a:hover {
  color: var(--Bright-Blue);
}

@media screen and (max-width: 768px) {
  .bars {
    opacity: 1;
    display: block;
  }
  .items {
    height: 0;
    opacity: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navHolder {
    height: 85px;
  }
  .navHolder a {
    height: 85px;
  }
  .navHolder .logo {
    width: 85px;
    height: 85px;
  }
  .navHolder.active {
    height: 100vh;
  }
  .navHolder.active .items {
    opacity: 1;
    height: calc(100vh - 50px);
  }
  .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}