.navHolder {
  position: fixed;
  background-color: #000;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: inset 0 -1px var(--ds-gray-alpha-400);
  box-shadow: inset 0 -1px #e6edf3;
  overflow: clip;
  transition: height 0.5s, opacity 0.5s;
  a {
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    display: inline-flex;
    align-items: center;
  }
}
.logo {
  margin-left: 0.5rem;
  width: 50px;
}

.bars {
  opacity: 0;
  display: none;
  padding: 10.5px 12.5px;
  float: right;
  cursor: pointer;
  transition: opacity 0.5s;
}

.bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: #fff;
  height: 3px;
  border-radius: 5px;
  transition: 0.5s;
}

.bars.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 314px;
  /* background-color: aqua; */
  height: 50px;
  overflow: hidden;
  transition: height 0.5s, opacity 0.5s;
  a {
    padding: 0 20px;
    transition: 0.2s;
  }
  a.title {
    padding: 0;
    width: 65px;
    justify-content: center;
  }
  a:hover {
    color: #0078d4;
  }
}

@media screen and (max-width: 528px) {
  .bars {
    opacity: 1;
    display: block;
  }

  .items {
    height: 0;
    opacity: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
  }

  .navHolder.active {
    height: 100vh;
    .items {
      display: flex;
      opacity: 1;
      height: calc(100vh - 50px);
    }
  }
  .formContainer {
    flex-direction: column;
    align-items: center;
  }
}
