.navHolder {
  position: fixed;
  background-color: var(--Deep-Navy);

  width: 100vw;
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: clip;
  transition: height 0.5s, opacity 0.5s;
  .logo {
    width: 125px;
    height: 125px;
  }
  a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    font-family: Merriweather;
    font-weight: 900;
    font-size: 16px;
    height: 125px;
    display: inline-flex;
    align-items: center;
  }
  .logo,
  a {
    transition: 0.5s;
  }
}

.bars {
  opacity: 0;
  display: none;
  padding: 23px 15px;
  float: right;
  cursor: pointer;
  transition: opacity 0.5s;
}

.bars .bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.bars.active .bar:nth-child(1) {
  transform: translate(0, 11px) rotate(-45deg);
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(3) {
  transform: translate(0, -11px) rotate(45deg);
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
  overflow: hidden;
  transition: height 0.5s, opacity 0.5s;
  padding: 0 20px;

  a {
    padding: 0 20px;
    font-size: 20px;
  }
  a.title {
    padding: 0;
    width: 65px;
    justify-content: center;
  }
  a:hover {
    color: var(--Bright-Blue);
  }
}

@media screen and (max-width: 768px) {
  .bars {
    opacity: 1;
    display: block;
  }

  .items {
    height: 0;
    opacity: 0;
    padding: 0;
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
  }
  .navHolder {
    height: 85px;
    a {
      height: 85px;
    }
    .logo {
      width: 85px;
      height: 85px;
    }
  }
  .navHolder.active {
    height: 100vh;
    .items {
      opacity: 1;
      height: calc(100vh - 50px);
    }
  }
  .formContainer {
    flex-direction: column;
    align-items: center;
  }
}
