@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.page {
  margin-top: 125px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .page {
    margin-top: 85px;
  }
}
:root {
  --Primary-Blue: #233d8c;
  --Dark-Blue: #1b2a59;
  --Deep-Navy: #1a2440;
  --Steel-Gray-Blue: #5377a6;
  --Light-Blue: #759cbf;
  --Bright-Blue: #00e7ff;
}

/* Color Theme Swatches in Hex */
.Intel-Team-GB-Curling-1-hex {
  color: #233d8c;
}

.Intel-Team-GB-Curling-2-hex {
  color: #1b2a59;
}

.Intel-Team-GB-Curling-3-hex {
  color: #1a2440;
}

.Intel-Team-GB-Curling-4-hex {
  color: #5377a6;
}

.Intel-Team-GB-Curling-5-hex {
  color: #759cbf;
}

/* Color Theme Swatches in RGBA */
.Intel-Team-GB-Curling-1-rgba {
  color: rgb(35, 61, 140);
}

.Intel-Team-GB-Curling-2-rgba {
  color: rgb(26, 42, 89);
}

.Intel-Team-GB-Curling-3-rgba {
  color: rgb(26, 35, 63);
}

.Intel-Team-GB-Curling-4-rgba {
  color: rgb(82, 118, 165);
}

.Intel-Team-GB-Curling-5-rgba {
  color: rgb(116, 156, 191);
}

/* Color Theme Swatches in HSLA */
.Intel-Team-GB-Curling-1-hsla {
  color: hsl(225, 60%, 34%);
}

.Intel-Team-GB-Curling-2-hsla {
  color: hsl(225, 53%, 22%);
}

.Intel-Team-GB-Curling-3-hsla {
  color: hsl(225, 41%, 17%);
}

.Intel-Team-GB-Curling-4-hsla {
  color: hsl(213, 33%, 48%);
}

.Intel-Team-GB-Curling-5-hsla {
  color: hsl(208, 36%, 60%);
}

.sign-in-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  position: relative; /* Position relative for absolute children */
}

.sign-in-container .clerk-sign-in {
  max-width: 400px; /* Set a max width for the sign-in box */
  width: 100%; /* Make it responsive */
  margin: auto; /* Center the sign-in box */
}