  .hero {
    position: relative;
    height: 100vh; 
    background-image: url('../../public/curling-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-left: 50px;
  }
  
  .heroContent {
    z-index: 1;
    margin-top: -50px;
    font-family: 'Bungee', sans-serif;
  }
  
  .heroContent h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .heroContent h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  

  .heroContent p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  /* Media Queries*/
  @media (max-width: 1200px) {
    .hero {
      padding-left: 30px;
    }
  
    .heroContent h1 {
      font-size: 3rem;
    }
  
    .heroContent p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      padding-left: 20px;
    }
  
    .heroContent h1 {
      font-size: 2.5rem;
    }
  
    .heroContent p {
      font-size: 1rem; 
    }
  }
  
  @media (max-width: 480px) {
    .hero {
      padding-left: 10px; 
    }
  
    .heroContent h1 {
      font-size: 2rem; 
    }
  
    .heroContent p {
      font-size: 0.9rem; 
    }
  }