.hero {
    position: relative;
    height: 100vh;
    background-image: url('../../public/curling-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-left: 50px;
  }
  
  .heroContent {
    z-index: 1;
    margin-top: -50px;
    font-family: 'Bungee', sans-serif;
  }
  
  .heroContent h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .heroContent h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .heroContent p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  @media (max-width: 1200px) {
    .hero {
      padding-left: 30px;
    }
  
    .heroContent h1 {
      font-size: 3rem;
    }
  
    .heroContent p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      padding-left: 20px;
    }
  
    .heroContent h1 {
      font-size: 2.5rem;
    }
  
    .heroContent p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero {
      padding-left: 10px;
    }
  
    .heroContent h1 {
      font-size: 2rem;
    }
  
    .heroContent p {
      font-size: 0.9rem;
    }
  }
  
  .aboutCurling {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .aboutText {
    flex: 1;
    margin-right: 20px;
  }
  
  .aboutText h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Bungee', sans-serif;
  }
  
  .aboutText p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .aboutButton {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Bungee', sans-serif;
  }
  
  .aboutButton:hover {
    background-color: #005fa3;
  }
  
  .aboutImage {
    flex: 1;
    max-width: 800px;
  }
  
  .aboutImage img {
    width: 100%;
    border-radius: 40px;
  }

  .curlingEvents {
    padding: 50px;
    background-color: rgba(240, 240, 240, 0.9);
    text-align: left;
  }
  
  .eventsHeader {
    margin-bottom: 20px;
  }
  
  .curlingEvents h2 {
    font-size: 2.5rem;
    font-family: 'Bungee', sans-serif;
  }
  
  .learnMoreContainer {
    margin-bottom: 20px;
  }
  
  .learnMoreButton {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Bungee', sans-serif;
  }
  
  .learnMoreButton:hover {
    background-color: #005fa3;
  }
  
  .eventList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
  
  .eventCard {
    background-color: #005fa3;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s;
    background-image: url('../../public/worldcurling-pattern.eb3ab0.svg');
    background-position: center;
  }
  
  .eventCard:hover {
    transform: translateY(-5px);
  }
  
  .eventImage1, .eventImage2, .eventImage3, .eventImage4 {
    width: 100%;
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  10px, 10px, 0px, 0px;
  }
  
  .eventImage1 {
    background-image: url('../../public/WC.jpg');
  }
  
  .eventImage2 {
    background-image: url('../../public/wo.avif');
  }
  
  .eventImage3 {
    background-image: url('../../public/cc.jpg');
  }
  
  .eventImage4 {
    background-image: url('../../public/gc.jpeg');
  }

  .eventCard h3 {
    margin: 40px;
    text-align: center;
    flex: 1;
    font-family: 'Bungee', sans-serif;
  }